.btn {
  margin: 10px;
  padding: 12px 25px;
  background: transparent;
  border: none;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.15em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  &:hover {
    transition: all 0.5s ease;
    text-decoration: none;
  }
}
.btn-round {
  border-radius: 20px !important;
}
