.container {
  width: 100% !important;
  margin: 0;
  padding: 0 !important;
  .container-inner {
    &.inner-default {
      width: 1200px;
      margin: 20px auto;
    }
    &.inner-sm {
      width: 800px;
      margin: 40px auto;
    }
  }
}
