.user-profile {
  margin: 40px 0 20px;
  .icon {
    width: 120px;
    margin: auto;
    text-align: center;
    img {
      border-radius: 100%;
      border: 5px solid #fff;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    }
  }
  .name {
    margin-bottom: 15px;
    text-align: center;
    h1 {
      text-shadow: 1px 1px 1px #fff;
      font-weight: bold;
    }
  }
  .status {
    text-align: center;
    ul {
      margin: 0 auto 10px;
      padding: 0;
      display: table;
      li {
        width: 120px;
        padding: 5px 0;
        border-right: 1px solid #ddd;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #777;
        &:last-child {
          border: none;
        }
        .status-label {
          font-size: 12px;
        }
        .status-value {
          font-size: 18px;
        }
      }
    }
  }
}
.box {
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  .box-title {
    margin: 0;
    padding: 15px 20px;
    font-weight: normal;
    background: #fafafa;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .box-inner {
    padding: 20px;
  }
}